/*baseado em gustavo guanabara*/
:root {
  --bg-main: #ececec;   /* fundo cinza */
  --panel: #ffffff;     /*branquinho básico*/
  --title: #1e90ff;    /*azulzin cor di ceu*/
  --accent: #003cff;   /*azul basico*/
  --error: #e63946;     /*vermelho sangrento*/
}
body {
  font-family: Arial, Helvetica, sans-serif;  /*arial porque as fontes é muito parecida na minha visão*/
  background: var(--bg-main);
  margin: 0;
  padding: 20px;
}

main {
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
  color: var(--title);
}

.box {
  background: var(--panel);
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}
h2 {
  color: var(--accent);
  margin-top: 0;
}

input[type="text"],
input[type="number"] {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

input[type="submit"] {
  background: var(--title);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background: #0f5fbf;
}

.result strong {
  color: var(--accent);
  font-size: 1.1em;
}

.error {
  border-left: 6px solid var(--error);
}

.error h2 {
  color: var(--error);
}